body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.banner{
  background-image: url("images/background.png");
  background-position: center;
  text-align: center;
  color: white;
  padding: 200px 0px;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}

.btn-blue{
  text-decoration: none;
  background-color: #57a3e5;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
}

.banner a:hover{
  background-color: #3370a5;
}


h3 {
  font-weight: bold;
  font-size: 20px;
}

p {
  font-size: 18px
}

.carousel{
  width: 300px;
  box-shadow: 2px 2px 3px #9ea2a8;
  text-align: center;
  margin: 80px 0px;
  padding: 20px;
}

.icon{
  width: 100px;
}

.list-inline{
  list-style: none;
  padding: 0px;
}

.list-items{
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  color: white;
}

.cards{
  display: flex;
  justify-content: space-around;
}

.footer{
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: #707172;
  color: white;
}

.footer .fa-heart{
  color: #ed5e72;
}

.footer a{
  color: white;
  opacity: 0.5;
}

.footer a:hover{
  color: white;
  opacity: 2;
}

#rightbt-text{
  margin: 20px;
}
